name: Auto Update Packages

on:
  push:
    paths:
      - 'debs/**'      # 只有 debs 目录内容改变时触发
  workflow_dispatch:    # 手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
      - uses: actions/checkout@v3

      - name: Install dpkg-scanpackages
        run: sudo apt-get update && sudo apt-get install -y dpkg-dev

      - name: Generate Packages files
        run: |
          cd ${{ github.workspace }}

          sudo rm -f Packages Packages.gz Packages.bz2

          sudo dpkg-scanpackages --multiversion debs > Packages
          cat Packages | gzip -9 > Packages.gz
          cat Packages | bzip2 -9 > Packages.bz2

      - name: Commit and push updated Packages
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add Packages Packages.gz Packages.bz2

          # 如果没有变化就不要提交
          git diff --cached --exit-code || git commit -m "Auto-update Packages"
          git push
