name: Auto Update Packages

on:
  push:
    paths:
      - 'debs/**'   # debs 文件夹有变化时自动运行
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dpkg-scanpackages
        run: |
          sudo apt-get update
          sudo apt-get install -y dpkg-dev

      - name: Generate Packages
        run: |
          sudo rm -f Packages Packages.gz Packages.bz2

          sudo dpkg-scanpackages --multiversion debs > Packages
          cat Packages | gzip -9 > Packages.gz
          cat Packages | bzip2 -9 > Packages.bz2

      - name: Commit & Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add Packages Packages.gz Packages.bz2

          # 没变化就不提交
          if ! git diff --cached --quiet; then
            git commit -m "Auto-update Packages"
            git push
          fi
