name: Deploy Simple Repository

on:
  push:
    branches: ["master"]
    paths:
      - 'debs/*.deb'
  workflow_dispatch:

jobs:
  update-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install -y dpkg-sig dpkg-dev
          
      - name: Generate Packages files
        run: |
          # 清理旧文件
          rm -f Packages Packages.gz Packages.bz2
          
          # 使用最简单的方法
          dpkg-scanpackages --multiversion debs > Packages
          # 创建压缩版本
          gzip -9c < Packages > Packages.gz
          bzip2 -9c < Packages > Packages.bz2bz2
          
      - name: Commit and push if changed
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add Packages Packages.gz Packages.bz2
          git diff --staged --quiet || git commit -m "Update package indexes"
          git push
