name: Update Package Index
on:
  push:
    paths: ['debs/**']
  workflow_dispatch:
jobs:
  update-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Update Packages
        run: |
          dpkg-scanpackages debs /dev/null > Packages
          dpkg-scanpackages debs /dev/null | gzip -9c > Packages.gz
          dpkg-scanpackages debs /dev/null | bzip2 > Packages.bz2
      - name: Commit & Push changes
        run: |
          git config user.name "wyxdlz5418k"
          git config user.email "liyuqili_1379zi@qq.com"
          git add Packages Packages.gz Packages.bz2
          git diff --staged --quiet || git commit -m "Update package indexes"
          git push