name: Auto Update Packages

on:
  push:
    paths:
      - 'debs/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dpkg-scanpackages
        run: |
          sudo apt-get update
          sudo apt-get install -y dpkg-dev

      - name: Generate Packages
        run: |
          sudo rm -f Packages Packages.gz Packages.bz2
          sudo dpkg-scanpackages --multiversion debs > Packages
          cat Packages | gzip -9 > Packages.gz
          cat Packages | bzip2 -9 > Packages.bz2

      - name: Commit & Push
        run: |
          git config --global user.name "wyxdlz54188"
          git config --global user.email "liyuqili_1379@qq.com"

          git add Packages Packages.gz Packages.bz2

          if ! git diff --cached --quiet; then
            git commit -m "Auto-update Packages"
            git push
          fi
